/*~~~~~~~~~~~~~
### GENERAL ###
~~~~~~~~~~~~~*/

html {
	background-color: #7D3339;
	height: 100vh;
}

#main {
	width: 100%;
	text-align: center;
	margin: 0px auto;
	font-family: 'Roboto', sans-serif;
	max-width: 80%;
}

h1 {
	color: #f5f5f5;
	font-size: 3em;
	font-weight: 700;
}

h2 {
	color: #f5f5f5;
	font-size: 2em;
	font-weight: 700;
	border-bottom: 3px solid #f5f5f5;
	width: 30%;
	margin: 0px auto 10px auto;
	padding-bottom: 10px;
}

p {
	color: #f5f5f5;
	font-size: 1.25em;
	font-weight: 400;
}

span {
	font-weight: 700;
}

h1, h2, p {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*~~~~~~~~~~~~~
### Tab Table ###
~~~~~~~~~~~~~*/

#tabs {
	width: 80%;
	margin: 0px auto;
}

#tabs ul {
	margin-left: -40px;
}

#tabs li {
	list-style: none;
	float: left;
	width: 20%;
}

#tab-titles p {
	padding: 5px 0px;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	border: 1px solid #f5f5f5;
	color: rgba(245,245,245,.25);
}

#tab-titles p:hover {
	color: #f5f5f5;
}

#tabs-content {
	width: 80%;
	margin: 0px auto;
	text-align: left;
}

#tabs-content p {
	margin-top: 160px;
}

#tabContent1 {
	display: none;
}

#tabContent2 {
	display: none;
}

#tabContent3 {
	display: none;
}

/* ### Adding "active" capabilities for content and tab titles. ### */

.tab-titles.active {
	background-color: #f5f5f5;
	color: #7D3339 !important;
}

.tab-contents.active {
	display: block !important;
}

/*~~~~~~~~~~~~~
###  Forms  ###
~~~~~~~~~~~~~*/

#user-input {
	padding-top: 100px;
	width: 80%;
	display: block;
	margin: 0px auto;
	text-align: center;
}

form {
	width: 40%;
	margin: 0px auto;
}

input {
	display: block;
	margin-bottom: 5vh;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 20px 5px 5px;
	color: #7D3339;
}

input[type="submit"] {
	background-color: #f5f5f5;
	color: #7D3339;
	border: none;
	padding: 5px 10px;
	font-weight: 700;
}

input[type="submit"]:hover {
	background-color: #7D3339;
	color: #f5f5f5;
	border: 1px solid #f5f5f5;
}